-----------------------------------个人简介-------------------------------
			ul{
				list-style: none;
			}
			.nav{
				width: 100%;
				height: 1080px;
				background: url(../img/body_bg.jpg);
			}
			.nav_nav{
				width: 1170px;
				margin: 30px auto 0px;
				
			}
			.nav_top{
				width: 1170px;
				height: 284px;
				background: url(../img/74body_top.jpg);
				position: relative;
			}
			.nav_top ul{
				position: absolute;
				float: left;
				bottom: -20px;
				left:30px;
				width: 1000px;
				height:138px;
			}
			.nav_top ul li{
				float: left;
			}
			.nav_img{
				width: 110px;
				height: 138px;
				border: 1px solid #dcdcdc;
				background:#fff;
				margin-right:50px;
			}
			.nav_top ul li img{
				width: 100px;
				height:128px;
				display: block;
				margin: 5px;
				}
			.nav_zy{
				width: 700px;
				height: 138px;
			}
			.nav_zy span{
					color: #FFFFFF;
					font-size:42px;
					background: rgba(0,0,0,.5);
			}	
			.nav_zy p{
				    
				    margin-top:2px;
					color: #FFFFFF;
					font-size:22px ;
					width: 750px;
					height:41px;
					background: rgba(0,0,0,.5);
			}
			.nav_text{
				background: #fff;
				width: 100%;
				height: 750px;
			}
			.nav_text ul{
				
			}
			.text_menu{
				padding: 25px 0px 0px 30px; 
				width: 1110px;
				font-size:24px ;
				line-height:24px;
				float: left;
				font-weight:100 ;
				margin:0px auto;
			}
			.text_menu span{
				float:left ;
				font-weight:lighter;
			}
			.text_menu font{
				margin-left: 10px;
				float:left;
			}
			.text_menu p{
				font-size:14px ;
				color: #999;
				margin: 10px;
				width: 1090px;
			}
			.text_bot{
				width: 1000px;
				height: 40px;
				float:left;
				font-size: 14px;
				line-height: 40px;
				padding-left: 76px;
			}
			.text_bot li{
				float: left;
			}
            .text_bot font{
            	font-weight:700;
            	color:#555;
            }
			.text_bot span{
				margin-left: 10px;
				font-size:14px;
				color:#777;
				font-weight:lighter;
			}
			.text_menu p{
				color:#777;
			}
			.text_bot1{
				width: 400px;
			}