
#main h1{
position:relative;
left:250px;
width:750px;
text-align:center;
font-size:20px;
margin:50px 0;
}

#main .content{
	position:relative;
	border-top:1px solid #dcdcdc;
	left:250px;
	width:750px;
	height:600px;
	overflow:hidden;
	padding-top:20px;

}

#main .pic_box{
	position:relative;
	width:166px;
	height:170px;
	left:0px;
	float:left;
	margin-right:20px;
	margin-bottom:0px;
	
}

#main .box{
   position:relative;
    margin:0px auto;
	width:166px;
	height:180px;	
	top:20px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

#main .pic{
	width:166px;
	height:135px;
	margin-top:10px;
}

#main .pic img{
	box-shadow: 8px 8px 12px 0 rgba(0,0,0,0.60);
}
#main .pic_title{
	position:relative;
	width:150px;
	height:20px;
	top:-10px;
	font-size:16px;
	margin:0px auto;
	text-align:center;
	padding-top:0px;

}

#main .pic_title a{
	font-size:14px;
}

	
 


