#main .content{
	position:relative;
	left:250px;
	width:750px;
	top:0px;
	margin-top:40px;
    padding-bottom:50px;
    color:#333333;
}

#main .content .essay h1{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}  

#main .content .extra_info{
	color:#666666;
	text-align:center;
	margin-top:40px;
	font-size:12px;
}	
 
 #main .content .essay .extra_info .clicks, .source, .author, .type{
 	margin-left:20px;
 }

 #main .content .essay_body{
 	margin-top:40px;
 	font-size:14px;
 	padding-bottom:30px;
 }

 #main .content .essay_body p{
 	line-height:25px;
 	margin-top:8px;
 	text-align:28px;
 }
